<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
             {{#if user}}
              <li role="presentation"><a href="/dashboard">Dashboard</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a href="/users/login">Connexion</a></li>
              <li role="presentation"><a href="/users/register">Création compte</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted"><strong>Surf Shopping</strong></h3>
      </div>
