<!-- <div style="width:1000px; height:663px;">
<img src="img/surf_shop.jpe" alt="" style="width:95%;height:95%;margin:auto;"></img>
</div> -->
<hr class="featurette-divider">
<h2>Découvrez nos produits</h2>
<iframe src="https://player.vimeo.com/video/87125424" width="950" height="700" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/87125424">Patagonia Bowery Surf Shop NYC</a> from <a href="https://vimeo.com/indoek">Indoek</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">GoPro pour les riders  <span class="text-muted">Be a Hero</span></h2>
          <p class="lead">GoPro, anciennement Woodman Labs, est une entreprise basée à San Mateo en Californie, qui commercialise des caméras d'action. Son fondateur est Nick Woodman. Ces caméras, prisées des pratiquants de sports aquatiques, extrêmes, mécaniques, mais sont aussi de plus en plus utilisés par des scientifiques ou des usages de loisirs.</p>
        </div>
        <div class="col-md-5">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/i6oe0LMDBTE" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>


<hr class="featurette-divider">
<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=36.373&lon=10.545&name=Port Yasmine Hammamet"> </iframe> 